html{
    font-family: "sono" , sans-serif;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    text-align: center;
    align-content: center;
}

#top{
    margin-bottom: 50px;
}
#title{
    font-size:40px;
    font-weight: bold;
}

.container{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.box{
    width: 400px;
    height: 400px;
    background-color: #0002;
    padding:10px;
    border-radius: 20px;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

button{
    margin-top: 20px;
    width:100px;
    height: 30px;
    background-color:purple;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor:pointer
}

.price{
    margin-top: 20px;
}

@media (max-width: 1250px){
    .container{
        flex-direction: column;
    }

    .box{
        width: 400px;
        height: 350px;
    }

    img{
        width: 150px;
        height: 150px;
    }
    
    .price{
        font-size: 15px;
        margin-top: 10px;
    }
}